body{
    height: 90vh;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}
/*Jumbotron CSS*/
.container{

    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C9AE7E;
}

.jumbotron{
    margin: 0px;
    background-image: url(contact-background.png);
}
/*End of Jumbotron CSS*/


.text{

    height: 100vh;
    background-image: url(contact-text-background.png);
    color: #363020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #13070C;
    font-family: "Helvetica", "Sans-sarif";
}

h3{
    font-size: 3vw;
}
