body{
    height: 100vh;
    background-color: #D6EADF;
    margin: 0;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
}

.title{
    width: 50vw;
    height: 100vh;
    background-color: #B8E0D2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 5vw;

}

.text{
    width: 49vw;
    height: 100vh;
    background-color: #95B8D1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #13070C;
    font-family: "Helvetica", "Sans-sarif"
}

.backbutton{
    display: flex;
    align-content: flex-end;
    bottom: 10px;
    font-size: 30px;
    color: #383B53;
    position: fixed;
    left: 20px;
    
}

a:visited{
    color: #383B53;
}