.title{
    display: flex;
    background-color: #A2A77F;
    color: #002E2C;
    font-size: 1.25vw;
    justify-content: center;
    height: 5vh;
    margin: 0px;
}

.title > h1{
    margin: 0;
}

.images > img{
    height: 9vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}


.backbutton{
    display: flex;
    align-content: flex-end;
    bottom: 10px;
    font-size: 30px;
    color: #383B53;
    position: fixed;
    left: 20px;
    
}
a:visited{
    color: #383B53;
}

body{
    height: 100vh;
    background-color: #EFF1C5;
    margin: 0;
}