.title{
    display: flex;
    background-color: #634133;
    color: #B86F52;
    font-size: 1.25vw;
    justify-content: center;
    height: 5vh;
    margin: 0px;
}

.navbar{
    background-color: #DB6F57;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    height: 100vh;
}
.title > h1{
    margin: 0;
}

.card-deck{
    display: flex;
    margin: 10px;
}

.images > img{
    height: 9vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.card{
    background-color: #DB6F57;
}


body{
    height: 100vh;
    background-image: url(experiences-background.png);
    margin: 0;
}