.shots{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

video{
    margin-top: 20px;
    width: 40vw;
}

body{
    height: 100vh;
    background: #e6e6e6;
    
}
.title{
    display: flex;
    justify-content: center;
    background-color: #ee6c4d;
    position: sticky;
    top: 10px;
}