.shots{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

video{
    margin-top: 20px;
    width: 40vw;
}

body{
    height: 100vh;
    background-image: url(good-shots-background.png);
    
}

.navbar{
    background-color: #F0F3BD;
}

.title{
    display: flex;
    justify-content: center;
    background-color: #E4E986;
    position: sticky;
    top: 0px;
    font-size: 2vh;
}

.backbutton{
    display: flex;
    align-content: flex-end;
    bottom: 10px;
    font-size: 30px;
    color: #383B53;
    position: fixed;
    
}