body {
    height: 100vh;
    background-image: url(main-background.png);
}

.title{
    display: flex;
    height: 90vh;
    align-items: center;
}
.jumbotron{
    width: 49vw;
    background-color: #7F9183;
    margin: 0px;
}

.container{
    color: #222A23
    
}

.main-photo{

    width: 50vw;
}

.flex-box{
    display: flex;
    flex-wrap: wrap;
}