body {
    height: 100vh;
    background-image: url(main-background.png);
}

.name{
    display: flex;
    color: #E4E6C3;
    font-size: 100px;
    width: 100vw;
    height: auto;
    justify-content: center;
    margin-bottom: 0px;
}
.subtitle{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 50px;
    color: #E4E6C3;
    font-weight: bolder;

}



.main-photo{
    position: relative;
    height: 500px;
}

.flex_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

a:link{
    text-decoration: none;
    color: #388659;
}
a:visited{
    color: #388659;
}